body{
    font-family: 'Roboto', sans-serif;
}

/* header */

header h1{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    padding-left: 20px;
    white-space: nowrap;
}

.container a {
    text-decoration: none;
    color: black;
}

.container{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    /*background-color: #FEC138;*/
    background-color:rgb(255, 145, 55);
    width: 100%;
}

.search{
    min-width: 60%;
    height: 40px;
    margin-top: 5px;
    margin-left: 10%;
}

.searchinput{
    border-width: 2px;
    border-style: hidden;
    border-radius: 5px;
    min-width: 40%;
    height: 40px;
    margin-left: 30px;
    outline: none;
}

.searchbutton {
    border-width: 2px;
    border-style:hidden;
    border-radius: 5px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    padding-right: 5px;
    outline: none;
}

.searchbutton:hover{
    background-color: #000;
}

.searchbutton:active {
    background-color: #DB2122;
}

button:target{
    background-color: #0066ffcc;
}

.searchbutton img {
    vertical-align: middle;
    margin-left: 0;
    margin-right: 5px;
}

.authorization {
    margin-top: 15px;
    margin-right: 3%;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 2%;
    text-align: right;
}

.headermenu {
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    background-color: rgb(248, 178, 121);
}

.headermenu a {
    margin-right: 30px;
    color: brown;
    text-decoration: none;
}

.headermenu a:hover {
    font-weight: 900;
}

/*  main  */

.mainpagehead h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_line {
    width: 98%;
    margin-left: 1%;
}

#main_page_hr {
    border: none;
    background-color: #DB2122;
    color: #DB2122;
    height: 2px;
}

.maincontainer {
    min-height: 450px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    width: 100%;
}

.content ul {
    width: 100%;
}

.content li {
    display: flex;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.book {    
    position: relative;
    overflow: hidden;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: #DB2122 0px 0px 0px 1px inset;
    text-align: center;
    line-height: 1.1;
}

.book a{
    text-decoration: solid;
    color: black;
    font-weight: 600;
}

.book a:hover {
    text-decoration: underline;
    color: #DB2122;

    text-shadow: 0px 1px 1px #000;
    font-weight: 900;
}



.image_book:hover {
    transform: scale(1.05);
    transition: 1s all;
    padding-top: 2px;
    padding-bottom: 7px;
}

.image_book {
    transition: 1s all;
}

.width_220 {
    width: 14.1%;
}

.height_350 {
    height: auto;
}

.width_200 {
    width: 90.9%;
}

.height_305 {
    height: auto;
}

/*  footer  */

.footercontainer {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    background-color:rgb(255, 145, 55);
    width: 100%;
    line-height: 1.3;
    min-height: fit-content;
}

.footercontainer h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.footercontainer a{
    text-decoration: none;
    color: black;
}

.footertable {
    width: 100%;
    padding: 0px 20px;
}

.contacts {
    float: left;
    width: 570px;
}

.flink:hover {
    text-decoration: underline;
    color: #DB2122;
}

.sitemap {
    float: right;
    text-align: right;
    width: 285px;
}